# AI Engineer Track Challenge - Digital Product School
## Devansh Srivastav

###### Importing Libraries

In [76]:
import pandas as pd
import numpy as np
from pycaret.regression import *

In [2]:
dataset = pd.read_csv('dataset.csv')

In [3]:
dataset.head(20)

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2021,202101,NaN,28.0,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2021,202102,NaN,40.0,NaN,NaN,NaN
2,Alkoholunfälle,insgesamt,2021,202103,NaN,27.0,NaN,NaN,NaN
3,Alkoholunfälle,insgesamt,2021,202104,NaN,26.0,NaN,NaN,NaN
4,Alkoholunfälle,insgesamt,2021,202105,NaN,40.0,NaN,NaN,NaN
5,Alkoholunfälle,insgesamt,2021,202106,NaN,49.0,NaN,NaN,NaN
6,Alkoholunfälle,insgesamt,2021,202107,NaN,58.0,NaN,NaN,NaN
7,Alkoholunfälle,insgesamt,2021,202108,NaN,46.0,NaN,NaN,NaN
8,Alkoholunfälle,insgesamt,2021,202109,NaN,46.0,NaN,NaN,NaN
9,Alkoholunfälle,insgesamt,2021,202110,NaN,34.0,NaN,NaN,NaN
10,Alkoholunfälle,insgesamt,2021,202111,NaN,23.0,NaN,NaN,NaN
11,Alkoholunfälle,insgesamt,2021,202112,NaN,13.0,NaN,NaN,NaN
12,Alkoholunfälle,insgesamt,2020,Summe,430.0,434.0,NaN,-0.92,NaN
13,Alkoholunfälle,insgesamt,2020,202001,28.0,22.0,-20.00,27.27,37.0
14,Alkoholunfälle,insgesamt,2020,202002,40.0,28.0,42.86,42.86,38.0
15,Alkoholunfälle,insgesamt,2020,202003,27.0,34.0,-32.50,-20.59,37.0
16,Alkoholunfälle,insgesamt,2020,202004,26.0,36.0,-3.70,-27.78,36.0
17,Alkoholunfälle,insgesamt,2020,202005,40.0,39.0,53.85,2.56,36.0
18,Alkoholunfälle,insgesamt,2020,202006,49.0,40.0,22.50,22.50,37.0
19,Alkoholunfälle,insgesamt,2020,202007,58.0,48.0,18.37,20.83,38.0

In [4]:
dataset.describe()

,JAHR,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
count,1995.000000,1911.000000,1904.000000,1756.000000,1819.000000,1764.000000
mean,2010.463158,1440.540031,1414.205357,5.023069,1.846036,781.194444
std,6.326381,4655.514611,4580.099103,40.239583,30.165304,1170.929940
min,2000.000000,0.000000,0.000000,-100.000000,-100.000000,12.000000
25%,2005.000000,41.000000,41.000000,-15.122500,-12.500000,41.000000
50%,2010.000000,399.000000,396.500000,0.000000,-1.240000,422.000000
75%,2016.000000,864.000000,861.750000,18.370000,10.095000,820.000000
max,2021.000000,46988.000000,46988.000000,600.000000,425.000000,3977.000000

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MONATSZAHL                      1995 non-null   object
 1   AUSPRAEGUNG                     1995 non-null   object
 2   JAHR                            1995 non-null   int64
 3   MONAT                           1995 non-null   object
 4   WERT                            1911 non-null   float64
 5   VORJAHRESWERT                   1904 non-null   float64
 6   VERAEND_VORMONAT_PROZENT        1756 non-null   float64
 7   VERAEND_VORJAHRESMONAT_PROZENT  1819 non-null   float64
 8   ZWOELF_MONATE_MITTELWERT        1764 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 140.4+ KB

In [6]:
dataset.shape

(1995, 9)

In [7]:
dataset.drop_duplicates(subset = None, keep = 'first', inplace = True)

In [8]:
dataset.shape

(1995, 9)

In [9]:
data = dataset.iloc[:,:5]

In [10]:
list(data['MONATSZAHL'].value_counts().index)

['Verkehrsunfälle', 'Fluchtunfälle', 'Alkoholunfälle']

In [11]:
list(data['AUSPRAEGUNG'].value_counts().index)

['insgesamt', 'Verletzte und Getötete', 'mit Personenschäden']

In [12]:
data.MONAT.dtype

dtype('O')

In [13]:
data = data[data.MONAT != 'Summe']

In [14]:
data.shape

(1848, 5)

In [19]:
data.MONAT = data.MONAT.str[4:]

In [21]:
data.head(5)

       MONATSZAHL AUSPRAEGUNG  JAHR MONAT  WERT
0  Alkoholunfälle   insgesamt  2021    01   NaN
1  Alkoholunfälle   insgesamt  2021    02   NaN
2  Alkoholunfälle   insgesamt  2021    03   NaN
3  Alkoholunfälle   insgesamt  2021    04   NaN
4  Alkoholunfälle   insgesamt  2021    05   NaN

In [22]:
data_2021 = data[data.JAHR == 2021]

In [24]:
data_2021.shape

(84, 5)

In [25]:
data = data[data.JAHR != 2021]

In [26]:
data.shape

(1764, 5)

In [30]:
accidents_per_category = dict()
for category in list(data['MONATSZAHL'].value_counts().index):
    accidents_per_category[category] = data.loc[data['MONATSZAHL'] == category, 'WERT'].sum()

In [31]:
accidents_per_category

{'Verkehrsunfälle': 1127266.0,
 'Fluchtunfälle': 232928.0,
 'Alkoholunfälle': 16242.0}

In [ ]:
data

In [42]:
#data.to_csv('data.csv', index=False)

In [43]:
#data_2021.to_csv('data_2021.csv', index=False)

In [48]:
X = data.iloc[:,:-1].values
Y = data.iloc[:,-1].values

In [49]:
X

array([['Alkoholunfälle', 'insgesamt', 2020, '01'],
       ['Alkoholunfälle', 'insgesamt', 2020, '02'],
       ['Alkoholunfälle', 'insgesamt', 2020, '03'],
       ...,
       ['Verkehrsunfälle', 'Verletzte und Getötete', 2000, '10'],
       ['Verkehrsunfälle', 'Verletzte und Getötete', 2000, '11'],
       ['Verkehrsunfälle', 'Verletzte und Getötete', 2000, '12']],
      dtype=object)

In [50]:
Y

array([ 28.,  40.,  27., ..., 615., 578., 515.])

In [51]:
list(data[data['MONATSZAHL']=='Alkoholunfälle']['AUSPRAEGUNG'].value_counts().index)

['insgesamt', 'Verletzte und Getötete']

In [52]:
list(data[data['MONATSZAHL']=='Verkehrsunfälle']['AUSPRAEGUNG'].value_counts().index)

['mit Personenschäden', 'Verletzte und Getötete', 'insgesamt']

In [53]:
list(data[data['MONATSZAHL']=='Fluchtunfälle']['AUSPRAEGUNG'].value_counts().index)

['insgesamt', 'Verletzte und Getötete']

In [54]:
final_data = data[data.AUSPRAEGUNG == 'insgesamt']

In [55]:
final_data.head(20)

        MONATSZAHL AUSPRAEGUNG  JAHR MONAT  WERT
13  Alkoholunfälle   insgesamt  2020    01  28.0
14  Alkoholunfälle   insgesamt  2020    02  40.0
15  Alkoholunfälle   insgesamt  2020    03  27.0
16  Alkoholunfälle   insgesamt  2020    04  26.0
17  Alkoholunfälle   insgesamt  2020    05  40.0
18  Alkoholunfälle   insgesamt  2020    06  49.0
19  Alkoholunfälle   insgesamt  2020    07  58.0
20  Alkoholunfälle   insgesamt  2020    08  46.0
21  Alkoholunfälle   insgesamt  2020    09  46.0
22  Alkoholunfälle   insgesamt  2020    10  34.0
23  Alkoholunfälle   insgesamt  2020    11  23.0
24  Alkoholunfälle   insgesamt  2020    12  13.0
26  Alkoholunfälle   insgesamt  2019    01  22.0
27  Alkoholunfälle   insgesamt  2019    02  28.0
28  Alkoholunfälle   insgesamt  2019    03  34.0
29  Alkoholunfälle   insgesamt  2019    04  36.0
30  Alkoholunfälle   insgesamt  2019    05  39.0
31  Alkoholunfälle   insgesamt  2019    06  40.0
32  Alkoholunfälle   insgesamt  2019    07  48.0
33  Alkoholunfälle   insgesamt  2019    08  31.0

In [56]:
final_data.shape

(756, 5)

In [70]:
data_A = final_data[final_data['MONATSZAHL']=='Alkoholunfälle'].iloc[:,2:]

In [71]:
data_A

     JAHR MONAT  WERT
13   2020    01  28.0
14   2020    02  40.0
15   2020    03  27.0
16   2020    04  26.0
17   2020    05  40.0
..    ...   ...   ...
280  2000    08  77.0
281  2000    09  84.0
282  2000    10  83.0
283  2000    11  71.0
284  2000    12  85.0

[252 rows x 3 columns]

In [73]:
train_A = data_A[data_A['JAHR'] < 2018]
test_A = data_A[data_A['JAHR'] >= 2018]

In [74]:
data_A = data_A.astype({"MONAT": int})

In [75]:
data_A.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252 entries, 13 to 284
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   JAHR    252 non-null    int64
 1   MONAT   252 non-null    int32
 2   WERT    252 non-null    float64
dtypes: float64(1), int32(1), int64(1)
memory usage: 6.9 KB

In [77]:
s = setup(data = train_A, test_data = test_A, target = 'WERT', fold_strategy = 'timeseries', numeric_features = ['JAHR', 'MONAT'], fold = 3, transform_target = True)

In [78]:
models_A = compare_models(sort = 'MAE')

In [79]:
prediction_on_test_A = predict_model(models_A)

In [81]:
predictions_A = predict_model(models_A, data=data_A)

In [85]:
predictions_A.to_csv('a.csv', index=False)