In [14]:
import pandas as pd
from pycaret.regression import *

In [19]:
model = load_model('model_for_dps')

Transformation Pipeline and Model Successfully Loaded

In [24]:
df = pd.DataFrame([[2021, 2]], columns = ['JAHR', 'MONAT'])

In [25]:
df

   JAHR  MONAT
0  2021      2

In [45]:
prediction = predict_model(model, data=df)

In [46]:
prediction

   JAHR  MONAT        Label
0  2021      2  4078.126896

In [47]:
prediction = prediction.astype({"Label": int})

In [56]:
prediction.iloc[:,2]

0    4078
Name: Label, dtype: int32

In [55]:
pd.DataFrame([[prediction.iloc[:,2].values[0]]], columns=['prediction'])

   prediction
0        4078