# AI Engineer Track Challenge - Digital Product School
## Devansh Srivastav

###### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('dataset.csv')

In [3]:
dataset.head(20)

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2021,202101,NaN,28.0,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2021,202102,NaN,40.0,NaN,NaN,NaN
2,Alkoholunfälle,insgesamt,2021,202103,NaN,27.0,NaN,NaN,NaN
3,Alkoholunfälle,insgesamt,2021,202104,NaN,26.0,NaN,NaN,NaN
4,Alkoholunfälle,insgesamt,2021,202105,NaN,40.0,NaN,NaN,NaN
5,Alkoholunfälle,insgesamt,2021,202106,NaN,49.0,NaN,NaN,NaN
6,Alkoholunfälle,insgesamt,2021,202107,NaN,58.0,NaN,NaN,NaN
7,Alkoholunfälle,insgesamt,2021,202108,NaN,46.0,NaN,NaN,NaN
8,Alkoholunfälle,insgesamt,2021,202109,NaN,46.0,NaN,NaN,NaN
9,Alkoholunfälle,insgesamt,2021,202110,NaN,34.0,NaN,NaN,NaN
10,Alkoholunfälle,insgesamt,2021,202111,NaN,23.0,NaN,NaN,NaN
11,Alkoholunfälle,insgesamt,2021,202112,NaN,13.0,NaN,NaN,NaN
12,Alkoholunfälle,insgesamt,2020,Summe,430.0,434.0,NaN,-0.92,NaN
13,Alkoholunfälle,insgesamt,2020,202001,28.0,22.0,-20.00,27.27,37.0
14,Alkoholunfälle,insgesamt,2020,202002,40.0,28.0,42.86,42.86,38.0
15,Alkoholunfälle,insgesamt,2020,202003,27.0,34.0,-32.50,-20.59,37.0
16,Alkoholunfälle,insgesamt,2020,202004,26.0,36.0,-3.70,-27.78,36.0
17,Alkoholunfälle,insgesamt,2020,202005,40.0,39.0,53.85,2.56,36.0
18,Alkoholunfälle,insgesamt,2020,202006,49.0,40.0,22.50,22.50,37.0
19,Alkoholunfälle,insgesamt,2020,202007,58.0,48.0,18.37,20.83,38.0

In [4]:
dataset.describe()

,JAHR,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
count,1995.000000,1911.000000,1904.000000,1756.000000,1819.000000,1764.000000
mean,2010.463158,1440.540031,1414.205357,5.023069,1.846036,781.194444
std,6.326381,4655.514611,4580.099103,40.239583,30.165304,1170.929940
min,2000.000000,0.000000,0.000000,-100.000000,-100.000000,12.000000
25%,2005.000000,41.000000,41.000000,-15.122500,-12.500000,41.000000
50%,2010.000000,399.000000,396.500000,0.000000,-1.240000,422.000000
75%,2016.000000,864.000000,861.750000,18.370000,10.095000,820.000000
max,2021.000000,46988.000000,46988.000000,600.000000,425.000000,3977.000000

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MONATSZAHL                      1995 non-null   object
 1   AUSPRAEGUNG                     1995 non-null   object
 2   JAHR                            1995 non-null   int64
 3   MONAT                           1995 non-null   object
 4   WERT                            1911 non-null   float64
 5   VORJAHRESWERT                   1904 non-null   float64
 6   VERAEND_VORMONAT_PROZENT        1756 non-null   float64
 7   VERAEND_VORJAHRESMONAT_PROZENT  1819 non-null   float64
 8   ZWOELF_MONATE_MITTELWERT        1764 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 140.4+ KB

In [6]:
dataset.shape

(1995, 9)

In [7]:
dataset.drop_duplicates(subset = None, keep = 'first', inplace = True)

In [8]:
dataset.shape

(1995, 9)

In [9]:
data = dataset.iloc[:,:5]

In [10]:
list(data['MONATSZAHL'].value_counts().index)

['Verkehrsunfälle', 'Fluchtunfälle', 'Alkoholunfälle']

In [11]:
list(data['AUSPRAEGUNG'].value_counts().index)

['insgesamt', 'Verletzte und Getötete', 'mit Personenschäden']

In [12]:
data.MONAT.dtype

dtype('O')

In [13]:
data = data[data.MONAT != 'Summe']

In [14]:
data.shape

(1848, 5)

In [19]:
data.MONAT = data.MONAT.str[4:]

In [20]:
data.head(20)

        MONATSZAHL AUSPRAEGUNG  JAHR MONAT  WERT
0   Alkoholunfälle   insgesamt  2021    01   NaN
1   Alkoholunfälle   insgesamt  2021    02   NaN
2   Alkoholunfälle   insgesamt  2021    03   NaN
3   Alkoholunfälle   insgesamt  2021    04   NaN
4   Alkoholunfälle   insgesamt  2021    05   NaN
5   Alkoholunfälle   insgesamt  2021    06   NaN
6   Alkoholunfälle   insgesamt  2021    07   NaN
7   Alkoholunfälle   insgesamt  2021    08   NaN
8   Alkoholunfälle   insgesamt  2021    09   NaN
9   Alkoholunfälle   insgesamt  2021    10   NaN
10  Alkoholunfälle   insgesamt  2021    11   NaN
11  Alkoholunfälle   insgesamt  2021    12   NaN
13  Alkoholunfälle   insgesamt  2020    01  28.0
14  Alkoholunfälle   insgesamt  2020    02  40.0
15  Alkoholunfälle   insgesamt  2020    03  27.0
16  Alkoholunfälle   insgesamt  2020    04  26.0
17  Alkoholunfälle   insgesamt  2020    05  40.0
18  Alkoholunfälle   insgesamt  2020    06  49.0
19  Alkoholunfälle   insgesamt  2020    07  58.0
20  Alkoholunfälle   insgesamt  2020    08  46.0